<div id="header">
    <div class="head_content">
        <div class="sony_logo">
            <a href="#">
                <img src="/images/sony-logo.jpg" alt="SONY">
            </a>
        </div>
        <div class="head_nav">
            <ul>
                <li class='fst'>
                    <a href="javascript:;" class="nav_list">商品分类</a>
                    <ul class="category-list">
                        <li><a href="/html/category.html">便携音频设备</a></li>
                    </ul>
                </li>
                <li class='fst'>
                    <a href="javascript:;" class="nav_list">网站导航</a>
                </li>
                <li class='fst'>
                    <div class='NavSeach' style="position:relative;">
                        <input placeholder="双旦聚惠" class='seach_input'>
                        <div class='s_btn'>
                            <span></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="new_head_container">
            <div id="minicart" class="shoppingCar">
                <div class="shoppingBtn">
                    <p class="scBtn">
                        <span class="commodityNum">0</span>
                    </p>
                </div>
                <div class="shoppingCartArea">
                    <ul></ul>
                    <div class="summary">
                        <p>
                            总计： RMB
                            <span>0.00</span>
                        </p>
                    </div>
                    <div class="gotoshoppingCar">
                        <a href="javascript:;">
                        去购物车(0)
                        </a>
                    </div>
                </div>
            </div>

            <div id="myServerListWrap">
                <p class="tit">服务与支持</p>
                <div class="topBtnNav">
                    <ul>
                        <li class="myServer">
                            <a href="javascript:;">售后服务</a>
                        </li>
                        <li class="myServer">
                            <a href="javascript:;">索尼中国APP</a>
                        </li>
                        <li class="myServer">
                            <a href="javascript:;">索尼应用中心</a>
                        </li>
                        <li class="myServer">
                            <a href="javascript:;">线下体验及购买</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="mySonyWrap">
                <p class="tit">My Sony</p>
                <ul class="mySonyList">
                    <li>
                        <a href="javascript:;">我的账户</a>
                        <a href="javascript:;">我的订单</a>
                        <a href="javascript:;">我的心愿单</a>
                        <a href="javascript:;">产品注册</a>
                        <a href="javascript:;">会员福利</a>
                        <a href="javascript:;">α Café 社区</a>
                    </li>
                </ul>
            </div>

            <div id="myLoginWrap">
                <a href="javascript:;" class="login-btn">登入</a>
                <a href="javascript:;" class="register-btn">注册</a>
            </div>
        </div>
        <div id="myLoginStatus">
            <p></p>
            <a href="javascript:;">登出</a>
        </div>
    </div>
</div>
