body,div,ul{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none
}
#header{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    background-color: #000;    
}
#header .head_content{
    width: 1210px;
    height: 60px;
    position: relative;
    margin: 0 auto;

}
#header .sony_logo{
    float: left;
    padding-top: 20px;
}
#header .head_nav{
    height: 60px;
    color: #fff;
    float: left;
    margin-left: 60px;
    ul>li{
        position: relative;
    }
}
#header .head_nav .fst{
    float: left;
    height: 60px;
    line-height: 60px;
}
.category-list{
    display: none;
    position: absolute;
    width: 242px;
    margin-right: 15px;
    color: #505050;
    background-color: #e6e8e8;
    z-index: 1;
    li{
        height: 38px;
        line-height: 38px;
        font-size: 14px;
        cursor: pointer;
        color: #505050;
        position: static !important;
        background: url(/images/arrow.png) 210px no-repeat;
        a{
            box-sizing: border-box;
            display: inline-block;
            width: 170px;
            height: 38px;
            line-height: 38px;
            margin-left: 30px;
            margin-right: 52px;
            color: #000;
        }
    }
}
#header .head_nav .fst:first-child{
    background: url(/images/nav_line.jpg) no-repeat right 21px;
}
#header .head_nav .fst:first-child:hover .category-list{
    display: block;
}
.category-list a:hover{
    color: #10a0d5;
}
#header .head_nav .fst .nav_list{
    width: 102px;
    height: 60px;
    color: #fff;
    font-size: 16px;
    background: url(/images/dot_down_black.jpg) no-repeat 92px center;
    display: block;
    padding-left: 20px;
}
#header .head_nav ul li .NavSeach{
    float: left;
    margin: 0 0 0 10px;
}
#header .head_nav ul li .NavSeach .seach_input{
    border: 0 none;
    color: #787878;
    height: 25px;
    line-height: 25px;
    margin: 0;
    padding-right: 35px;
    text-indent: 1em;
    width: 194px;
    border-radius: 25px;
    font-size: 12px;
}
#header .head_nav ul li .NavSeach .s_btn span{
    position: absolute;
    top: 24px;
    right: 11px;
    width: 20px;
    height: 18px;
    cursor: pointer;
    background: url(/images/btn_search_03.jpg) no-repeat right center;
}
.shoppingCar{
    right: 0;
    margin-top: 6px;
    float: right;
    width: 48px;
    height: 54px;
    cursor: pointer;
    position: relative;
    &:hover{
        background-color: #fff;
    }
    &:hover p.scBtn{
        background: url(/images/icon_shopping_1_hover.png) 13px 9px no-repeat;
    }
    &:hover .shoppingCartArea{
        display: block;
    }
    .scBtn{
        width: 48px;
        height: 48px;
        display: inline-block;
        position: relative;
        left: 0;
        top: 0;
        background: url(/images/icon_shopping_1.png) 13px 9px no-repeat;
        .commodityNum{
            width: 19px;
            color: #fff;
            position: absolute;
            top: 7px;
            display: inline-block;
            font-size: 12px;
            left: 22px;
            text-align: center;
            background: #e60000;
            border-radius: 50%;
            height: 19px;
            line-height: 19px;
            font-weight: 500;
        }
    }
}
.shoppingCartArea{
    top: 54px;
    left: -452px;
    width: 500px;
    min-height: 62px;
    padding: 0px;
    display: none;
    position: absolute;
    z-index: 1;
    .summary{
        width: 356px;
        height: 52px;
        background-color: #f5f5f5;
        padding-left: 5px;
        float: left;
        padding-top: 10px;
        p{
            font-size: 16px;
            display: block;
            float: left;
            padding-left: 15px;
            line-height: 46px;
            span{
                color: #0d9cd4;
                font-weight: bold;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    .gotoshoppingCar{
        float: left;
        width: 139px;
        height: 62px;
        background: #f5f5f5;
        a{
            height: 36px;
            width: 104px;
            display: block;
            float: right;
            margin-top: 15px;
            margin-right: 20px;
            background: #0d9cd4;
            border-radius: 5px;
            color: #fff;
            font-size: 16px;
            line-height: 36px;
            text-align: center;
        }
    }
}
#myServerListWrap{
    position: relative;
    float: right;
    width: 112px;
    text-align: center;
    margin-right: 7px;
    &:hover .tit{
        color: #000;
        font-weight: bold;
        background: url(/images/dot_down_blue.jpg) #fff no-repeat 92px center;
    }
    .tit{
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        line-height: 60px;
        cursor: pointer;
        background: url(/images/dot_down_black.jpg) no-repeat 92px center;
        text-indent: -7px;
    }
    .topBtnNav{
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        border-bottom: 15px solid #fff;
        z-index: 1;
        a{
            position: relative;
            font-size: 12px;
            width: 112px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            display: inline-block;
            color: #646464;
            background-color: #fff;
        }
    }
    &:hover .topBtnNav{
        display: block;
    }
}
#mySonyWrap{
    position: relative;
    float: right;
    width: 112px;
    text-align: center;
    background: url(/images/nav_line.jpg) right 24px no-repeat;
    &:hover .tit{
        color: #000;
        font-weight: bold;
        background: url(/images/dot_down_blue.jpg) #fff no-repeat 92px center;
    }
    .tit{
        font-size: 14px;
        font-weight: bold;
        color: #fff;
        line-height: 60px;
        cursor: pointer;
        background: url(/images/dot_down_black.jpg) no-repeat 92px center;
        text-indent: -7px;
    }
    .mySonyList{
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        border-bottom: 15px solid #fff;
        z-index: 1;
        a{
            position: relative;
            font-size: 12px;
            width: 112px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            display: inline-block;
            color: #646464;
            background-color: #fff;
        }
    }
    &:hover .mySonyList{
        display: block;
    }
}
#myServerListWrap .topBtnNav a:after,
#mySonyWrap .mySonyList a:after{
    position: absolute;
    bottom: 0;
    left: 21px;
    width: 70px;
    height: 0;
    border-bottom: 1px solid #eee;
    content: '';
}
#myLoginWrap,
#myLoginStatus{
    float: right;
    height: 60px;
    line-height: 60px;
    background: url(/images/nav_line.jpg) right 24px no-repeat;
    a{
        position: relative;
        padding-right: 15px;
        font-size: 14px;
        color: #1fa8e2;
        font-weight: bold;
    }
}
#myLoginWrap a:first-child:after{
    position: absolute;
    top: -21px;
    right: 5px;
    content: '/';
}
#myLoginStatus{
    display: none;
}

.b-modal{
    z-index: 9998;
}
.clear-both{
    clear: both;
    overflow: hidden;
    display: block;
}
.login-succ-tit{
    position: relative;
    font-family: 'å¾®è½¯é›…é»‘', Arial;
    font-size: 24px;
    color: #000000;
    background: #ffffff;
}
.close{
    position: absolute;
    right: 0;
    top: 10px;
}
.error-tip{
    position: absolute;
    top: 38px;
    left: -1px;
    background: url(/images/error_iocn.png) 4px center no-repeat #ffe1ba;
    line-height: 18px;
    font-size: 12px;
    color: #ff481e;
    padding-left: 26px;
    padding-right: 6px;
    width: 282px;
    border: 1px solid #ff701b;
    z-index: 100;
}
.login-error{
    position: static;
}
.login-success-btn{
    text-align: center;
    width: 100%;
    .login-close{
        display: block;
        width: 100%;
        text-align: center;
        height: 48px;
        line-height: 48px;
        background: #1e95f1;
        color: #ffffff;
        font-size: 20px;
        font-family: "å¾®è½¯é›…é»‘", Arial;
    }
}

.login-success{
    top: 0; left: 30%; margin: auto;
    z-index: 9999;
    max-width: 558px;
    opacity: 1;
    position: absolute;

    .login-succ-con{
        padding-bottom: 14px;
        background: #ffffff;
        position: relative;
        .pads{
            padding-top: 70px;
            overflow: hidden;
            display: block;
            clear: both;
        }
        .pads1{
            padding-top: 26px;
            overflow: hidden;
            display: block;
            clear: both;
        }
        .login-succ-conx{
            width: 316px;
            margin: 0 auto;
            color: #64c3f1;
            font-size: 14px;
            font-family: 'å¾®è½¯é›…é»‘', Arial;
            text-align: left;
        }
        .zhanghao,.mima{
            margin-bottom: 10px;
            border: 1px solid #bdbdbd;
            position: relative;
            height: 46px;
            input{
                font-family: "å¾®è½¯é›…é»‘", Arial;
                padding-left: 11px;
                padding-top: 15px;
                padding-bottom: 15px;
                float: left;
                background: none;
                border: 0 none;
                width: 254px;   
            }
        }
        .login-info{
            width: 100%;
            .remme{
                float: left;
                color: #bfbfbf;
                font-size: 14px;
            }
            a{
                float: right;
                color: #bfbfbf;
            }
        }
        .i1{
            display: block;
            width: 48px;
            height: 100%;
            border-right: 1px solid #bdbdbd;
            background: url(/images/usr.png) center center no-repeat #f3f3f3;
            float: left;
        }
        .i2{
            background: url(/images/pass.png) center center no-repeat #f3f3f3;
        }
        .i3{
            background: url(/images/email.png) center center no-repeat #f3f3f3;
        }
        .i4{
            background: url(/images/tel.png) center center no-repeat #f3f3f3;
        }
    }

    .login-zone,.register-zone{
        width: 100%;
        padding-bottom: 30px;
        .t-bt{
            width: 90%;
            img{
                width: 50%;
                float: left;
            }
        }
        .del{
            display: block;
            color: #d0d0d0;
            font-size: 23px;
            position: absolute;
            right: 4px;
            top: 6px;
            cursor: pointer;
        }
    }
}