@import "./component/header.scss";
@import "./component/footer.scss";
@import "./component/focus-us.scss";
@import "./common.scss";

#kvArea{
    width: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    z-index: 97;
    .slide-container{
        height: 700px;
        margin: 0 auto;
    }
    .arrow-left{
        background: url(/images/arrows_l.png) no-repeat 0 -82px;
        position: absolute;
        left: 10px;
        top: 50%;
        margin-top: -15px;
        width: 38px;
        height: 66px;
        z-index: 9;
    }
    .arrow-right{
        background: url(/images/arrows_r.png) no-repeat 0 -82px;
        position: absolute;
        right: 10px;
        top: 50%;
        margin-top: -15px;
        width: 38px;
        height: 66px;
        z-index: 9;
    }
}